{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <br>
    <h1>Home Page!!</h1>
    <br>

    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcome to my new blog!! This blog was created as part of my learning on python flask. A big thanks to 'Clever Programming' a youtube channel for going through each steps and explaining things in great detail.</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Goto Blog Posts &raquo;</a>
        </p>
      </div>
    </div>
    
{% endblock %}